@model IEnumerable<Instructor>
@{
    ViewData["Title"] = "getAllInstuctors";
    SelectList InstructorSelect = new SelectList(ViewBag.instructor, "InstructorId", "InstructorId");
}


<h1>getAllInstuctors</h1>

<label>Instructor ID</label>
<select id="InstructorSelect" onchange="loadReport(this.value)">
    @foreach (var item in InstructorSelect)
    {
        <option>Select Instuctor</option>
        <option value="@item.Value">@item.Value</option>
    }
</select>

<div id="div1"></div>

<script>
    function loadReport(InstructorId) {
        $("#div1").load("/Report/Reports3?InstructorId=" + InstructorId);
    }
</script>