
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<table class="table table-bordered">
    <th>
        <td>Reports</td>
    </th>
    <tr>
        <td>

            <a class="btn btn-info" asp-action="StudentsInformation" asp-controller="Report">Students Information</a>
        </td>
    </tr>
    <tr>
        <td>
            <a class="btn btn-info" asp-action="StudentsGrades" asp-controller="Report">Students Grades</a>
        </td>
    </tr>
    <tr>
        <td>
            <a class="btn btn-info" asp-action="Courses" asp-controller="Report"> Courses</a>
        </td>
    </tr>
    <tr>
        <td>
            <a class="btn btn-info" asp-action="Topics" asp-controller="Report"> Topics  </a>
        </td>
    </tr>
        <tr>
        <td>
            <a class="btn btn-info" asp-action="Questions " asp-controller="Report"> Questions </a>
        </td>
    </tr>
    <tr>
        <td>
            <a class ="btn btn-info" asp-action="Exam " asp-controller="Report"> Exam </a>
        </td>
    </tr>
</table>




