@model IEnumerable<ExamQuestions>
@{
    ViewData["Title"] = "Reports6";
}

<h1>Reports6</h1>


<table class="table table-bordered">
    <tr>

       
        <th>exam question</th>


    </tr>
    @foreach (var item in Model)
    {
        <tr>

          
            <td>
                @item.Question.QuestionBody
                @foreach(var choic in item.Question.ChoicesList)
                {
                    if (choic.ChoiceId == item.ExamAnswers)
                    {
                        <p class="text-info"> @choic.ChoiceBody</p>
                    }
                    <p> @choic.ChoiceBody</p>
                }
            </td>
        </tr>
    }
</table>