@model IEnumerable<Student>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<table class="table table-bordered">
    <tr>
    <th>Student Id</th>
    <th>Student Name</th>
    <th>Student Department</th>
    <th>Student Branch</th>

    </tr>
    @foreach (var student in Model)
    {
        <tr>
            <td>
                @student.StudentId
            </td>
            <td>
                @student.User.Name
            </td>
            <td>
                @student.Department.DepartmentName
            </td>
            <td>
                @student.Branch.BranchName
            </td>
        </tr>
    }
</table>


