@model Student
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <title>Create</title>
</head>
<body>
    <h1>Adding Student to Course with ID : @ViewBag.CourseId</h1>
    <form method="post">
        <input type="hidden" name="courseId" value="@ViewBag.CourseId" />
        <label asp-for="StudentId"></label>
        <select asp-for="StudentId" asp-items="@(new SelectList(ViewBag.StdList, "StudentId", "StudentId" ))" class="form-control">
            <option>Select Student</option>
        </select>
        <span asp-validation-for="StudentId"></span>
        <input type="submit" value="Add Student" />
    </form>
</body>
</html>
