@model IEnumerable<Topic>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    @* <a href="/department/create" class=" btn btn-danger"> Create </a> *@
    @*  <a asp-action="showcourses" asp-controller="instructor" asp-route-id="1" /> *@

    <table class="table table-bordered-hover ">
        <thead>
            <tr>
                <th>Topic Id</th>
                <th>Topic Name</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.TopicId</td>
                    <td>@item.TopicName</td>
                   
                </tr>
            }
        </tbody>

    </table>

</body>
</html>
@* onclick="return confirm('Are You Sure Yoou Want To Delete This Department')" *@ 