@model IEnumerable<Course>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    @* <a href="/department/create" class=" btn btn-danger"> Create </a> *@
   @*  <a asp-action="showcourses" asp-controller="instructor" asp-route-id="1" /> *@
    <table class="table table-bordered-hover ">
        <thead>
            <tr>
                <th>Course Id</th>
                <th>Course Name</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.CourseId</td>
                    <td>@item.CourseName</td>
                    <td>
                        <a asp-action="showtopics" asp-controller="instructor" asp-route-CourseId="@item.CourseId" class="btn btn-danger">show topics</a>
                    </td>
                    <td>
                        <a asp-action="showstudents" asp-controller="instructor" asp-route-CourseId="@item.CourseId" class="btn btn-danger">show students</a>
                    </td>
                </tr>
            }
        </tbody>

    </table>
   
</body>
</html>
@* onclick="return confirm('Are You Sure Yoou Want To Delete This Department')" *@ 